:root {
    --bg: hsl(0, 0%, 90%);
    --bg-gradient: linear-gradient(to bottom, var(--bg-light), var(--bg));
    --bg-light: hsl(0, 0%, 95%);
    --bg-dark: hsl(0, 0%, 80%);

    --text: hsl(0, 0%, 15%);
    --text-muted: hsl(0, 0%, 30%);

    --primary: #4da6ff;
    --secondary-gradient: linear-gradient(to right, hsl(21, 87%, 56%), hsl(0, 98%, 46%));
    --secondary: #f14f1e;

    --border: hsl(0, 0%, 70%);

    --gradient: linear-gradient(to bottom right, #4da6ff, #265cff)
}


h1 {
    background: var(--bg-gradient);
    font-family: Arial, sans-serif;
    font-weight: normal;
    color: var(--text);
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    width: 420px;
}

h2 {
    font-family: Arial, sans-serif;
    font-weight: normal;
    color: var(--text);
    text-align: center;
    padding: 10px;
    text-align-last: left;
    width: 400px;
}

h3 {
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: var(--text);
    background-color: var(--bg);
    padding: 15px 10px;
    border-radius: 15px;
    width: 420px;
}

body {
    background: var(--gradient);
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
    height: 100vh;
    background-attachment: fixed;
    background-size: 100% 100%;
    padding-bottom: 300px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
}

.block {
    background: var(--bg-gradient);
    padding: 20px 20px;
    border-radius: 15px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    max-width: 400px;

}

a {
    color: var(--primary);
    font-weight: bold;
}

button {
    background: var(--secondary-gradient);
    padding: 7px 15px 7px 15px;
    border-radius: 15px;
    border: none;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: var(--bg);
    margin-top: 10px;
    margin-bottom: 5px;
    transition: transform 0.2s ease-in-out;
    margin-left: 10px;
}

button:hover {
    transform: scale(1.05);
}


img{
    max-width: 300px;
    border-radius: 15px;
    margin-left: 10px;
    box-shadow: 5px 5px var(--secondary);


}

p{
    font-weight: normal;
    color: var(--text-muted);
    margin-left: 10px;
}

.container{
    width: 60%;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .container{
        width: 90%;
        margin: 0 auto;
    }
}