:root {
    --bg: hsl(0, 0%, 90%);
    --bg-gradient: linear-gradient(to bottom, var(--bg-light), var(--bg));
    --bg-light: hsl(0, 0%, 95%);
    --bg-dark: hsl(0, 0%, 80%);

    --text: hsl(0, 0%, 15%);
    --text-muted: hsl(0, 0%, 30%);

    --primary: hsl(195 66% 50%);
    --secondary: hsl(17 69% 50%);

    --border: hsl(0, 0%, 70%);
}


h1 {
    background: var(--bg-gradient);
    font-family: Arial, sans-serif;
    font-weight: normal;
    color: var(--text);
    background-color: var(--bg);
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: var(--border);
    border-width: 1px;
    width: 400px;
    box-shadow: 4px 4px 20px var(--border);
}

h2 {
    font-family: Arial, sans-serif;
    font-weight: normal;
    color: var(--text);
    text-align: center;
    padding: 10px;
    text-align-last: left;
    width: 400px;
}

h3 {
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: var(--text);
    background-color: var(--bg);
    padding: 15px 10px;
    border-radius: 15px;
    margin-bottom: 50px;
    border-style: solid;
    border-color: var(--border);
    border-width: 1px;
    width: 420px;
    box-shadow: 4px 4px 20px var(--border);
}

body {
    background-color: var(--bg-dark);
    display: grid;
    place-items: center;
    height: 100vh;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
}

.block {
    background: var(--bg-gradient);
    padding: 20px 20px;
    border-radius: 15px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    border-style: solid;
    border-color: var(--border);
    border-width: 1px;
    max-width: 400px;
    box-shadow: 4px 4px 20px var(--border);

}

a {
    color: var(--primary);
    font-weight: bold;
}

button {
    background-color: var(--secondary);
    padding: 7px 15px 7px 15px;
    border-radius: 15px;
    border: none;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: var(--bg);
    margin-top: 10px;
    margin-bottom: 5px;
    transition: transform 0.2s ease-in-out;
    box-shadow: 1px 1px 10px hsl(17 69% 40%);
    margin-left: 10px;
}

button:hover {
    transform: scale(1.05);
}


img{
    max-width: 300px;
    border-radius: 15px;
    box-shadow: 5px 5px 15px var(--primary);
    margin-left: 10px;


}
p{
    font-weight: normal;
    color: var(--text-muted);
    margin-left: 10px;
}