:root {
    --bg: hsl(0, 0%, 90%);
    --bg-gradient: linear-gradient(to bottom, var(--bg-light), var(--bg));
    --bg-light: hsl(0, 0%, 95%);
    --bg-dark: hsl(0, 0%, 80%);

    --text: hsl(0, 0%, 15%);
    --text-muted: hsl(0, 0%, 30%);

    --primary: hsla(221, 61%, 45%, 60%);
    --secondary-gradient: linear-gradient(to right, #4CB1FF, #396CE4);

    --border: hsl(0, 0%, 70%);

    --header: hsla(0, 0%, 90%, 0.7);

    --gradient: linear-gradient(to bottom right, #2C58B7, #06083D)
}


h1 {
    background: var(--bg-gradient);
    font-family: Arial, sans-serif;
    font-weight: normal;
    color: var(--text);
    text-align: center;
    padding: 10px;
    border-radius: 15px;
    width: 420px;
    margin-top: 50px;
}

h2 {
    font-family: Arial, sans-serif;
    font-weight: normal;
    color: var(--text);
    text-align: center;
    padding: 10px;
    text-align-last: left;
    width: 400px;
}

h3 {
    font-family: Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: var(--text);
    background-color: var(--bg);
    padding: 15px 10px;
    border-radius: 15px;
    width: 420px;
}

h5 {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: var(--bg-light);
    padding-left: 10px;
    padding-right: 10px;
}

body {
    background: var(--gradient);
    background-repeat: no-repeat;
    display: grid;
    place-items: center;
    height: 100vh;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 30px;
}

.block {
    background: var(--bg-gradient);
    padding: 20px 20px;
    border-radius: 15px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    max-width: 400px;

}

a {
    color: var(--primary);
    font-weight: bold;
    padding: 5px;
}

button {
    background: var(--secondary-gradient);
    padding: 7px 15px 7px 15px;
    border-radius: 100px;
    font-family: Arial, sans-serif;
    font-weight: bold;
    color: var(--bg);
    margin-top: 10px;
    margin-bottom: 5px;
    transition: transform 0.2s ease-in-out;
    margin-left: 10px;
    box-shadow: 3px 3px 5px var(--border);
    border: 1px solid var(--primary);
}

button:hover {
    transform: scale(1.05);
}


img{
    max-width: 300px;
    border-radius: 15px;
    margin-left: 10px;
    border: 1px solid var(--primary);
    box-shadow: 3px 3px 5px var(--border);
    margin-bottom: 30px;


}

p{
    font-weight: normal;
    color: var(--text-muted);
    margin-left: 10px;
}

.container{
    width: 60%;
    margin: 0 auto;
}

.header{
    position: fixed;
    justify-content: center;
    top: 20px;
    display: flex;
    flex-direction: row;
    font-family: Arial, sans-serif;
    font-weight: normal;
    text-align: center;
    background: var(--bg-gradient);
    border-radius: 15px;
    padding-bottom: 2px;
    min-width: 440px;
}

input[type="text"] {
    vertical-align: baseline;
    padding-top: 5px;
    padding-left: 20px;
    font-size: inherit;
    line-height: inherit;
    border-radius: 100px;
    height: 30px;
    width: 200px;
    margin: 10px 10px 10px 30px;
    background: var(--secondary-gradient);
    border-color: var(--bg-light);
    color: var(--bg-light);
    box-shadow: 3px 3px 5px var(--border);
    border: 1px solid var(--primary);
}

input::placeholder {
    color: var(--bg-light);
    font-weight: bold;
}

input:focus {
    outline: none;
    font-weight: bold;
}

li {
    list-style: none;
    padding-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

@media (max-width: 768px) {
    .container{
        margin: 0 10px;
    }
}